<div id="page<%= currentPage %>">
	<h5>Page <%= currentPage %> out of <%= totalNumberOfPage %></h5>
	<h3><%= title %></h3>

	<form name=myText>
		<label for="exampleInputPassword1">Value to store:</label>
		<input class="form-control"id="input<%= currentPage %>" name="valueToStore" value="">
	</form>

	<% var numberInRow = 5; var i = 0;%>

	<% Object.keys(items).forEach(function (key) { %>
		<% var value = items[key];  %>
		<button type="button" id="button<%= i %>" class="btn btn-default" \ 
	    		value="<%= value%>" \ 
	    		onclick="RowHandler.itemWasClicked('input<%= currentPage %>', <%= key%>, '<%= value%>')"
	    		>
	        <a href=""><%= i %></a>. <%= value %>
	    </button>
	    <% if (i%numberInRow === 0 && i != 0) {%>
			<br>
		<%}%>
		<% ++i;%>
	    
	<% }) %>

	<div class="footer">
		<br><br><br>
		<%if (currentPage > 1) { %>
			<button type="button" accesskey=">"  class="btn btn-default" id="prevButton">
			    Previous Field <
			</button>&nbsp;
		<% } %>
		<button type="button" accesskey=">"  class="btn btn-default" id="nextButton">
		    Next Field >
		</button>
	</div>
</div>