<div id="page<%= currentPage %>">
	<h5>Page <%= currentPage %> out of <%= totalNumberOfPage %></h5>
	<h3><%= title %></h3>

	<form name=myText>
		<label for="exampleInputPassword1">Value to store:</label>
		<input class="form-control"id="input<%= currentPage %>" name="valueToStore" value="">

		<button type="button" accesskey=">"  class="btn btn-info btn-small" id="prevButton" <%if (currentPage === 1) { %> disabled <% } %> >
			    < Previous Field
		</button>
		&nbsp;
		<button type="button" accesskey=">"  class="btn btn-primary btn-small" id="nextButton" <%if (currentPage === totalNumberOfPage) { %> disabled <% } %> >
		    Next Field >
		</button>

		<%if (currentPage === totalNumberOfPage) { %>
			&nbsp;
			<button type="button" accesskey=">"  class="btn btn-danger" id="saveAndRestartButton">
		    Save Item & Start Over
		</button>
		<% } %>
	</form>
	

	<% var numberInRow = 5; var i = 0;%>

	<% Object.keys(items).forEach(function (key) { %>
		<% var value = items[key];  %>
		<button type="button" id="button<%= i %>" class="btn btn-default" \ 
	    		value="<%= value%>" \ 
	    		onclick="RowHandler.itemWasClicked('input<%= currentPage %>', '<%= key%>', '<%= value%>')"
	    		>
	        <%= i+1 %>. <%= value %>
	    </button>
	    <% if (i%numberInRow === 0 && i != 0) {%>
			<br>
		<%}%>
		<% ++i;%>
	    
	<% }) %>

	
</div>