<div id="page<%= currentPage %>" class="page">
	<div id="logout"><a href="<%= Settings.getLogoutUrl()%>"class="pull-right">log out</a></div>
            
	<div >
		<img src="resources/ff_ff_logo_pink.jpg" width=50/> 
		Page <%= currentPage %> out of <%= totalNumberOfPage %>
	</div>
	<br>
	<p id="fullDesc" class="description">Description of the item will appear here</p>
	<h4>&nbsp;<%= title %></h4>

	<form name=myText>
		<label>&nbsp;<%= hint%></label>
		<input class="form-control"id="input<%= currentPage %>" name="valueToStore" value="<%= defaultValue %>" style="width: 40em;">

		<button type="button" accesskey=">"  class="btn btn-info btn-small" \ 
			id="prevButton" <%if (currentPage === 1) { %> disabled <% } %> 
			onclick="RowHandler.goToPrev()">
			    < Previous Field
		</button>
		&nbsp;
		<button type="button" accesskey=">"  \ 
			class="btn btn-primary btn-small" \ 
			id="nextButton" <%if (currentPage === totalNumberOfPage) { %> disabled <% } %> \ 
			onclick="RowHandler.saveValueAndGoToNext()">
		    Next Field >
		</button>

		<button type="button" id="buttonP" \ 
			class="btn btn-primary btn-small"  <%if (currentPage === totalNumberOfPage) { %> disabled <% } %> \  
								onclick="RowHandler.usePreviousAndGoToNext()">
				Same As Previous & Next Field
		</button>
		<br>
	
		<%if (currentPage === totalNumberOfPage) { %>
			&nbsp;
			<button type="button" accesskey=">"  class="btn btn-danger" id="saveAndRestartButton" \
				onclick="RowHandler.saveAndRestart()">
		    Save Item & Start Over
		</button> <span id="whileSaving" style="display: none;"><img src="resources/loading.gif" width=25/> One moment...</span>
		<% } %>
	</form>
	<button type="button" id="buttonP" class="btn btn-default" \ 
							onclick="RowHandler.usePrevious()">
			P. same as previous
	</button>
	<br>
	
	<% var numberInRow = 5; var i = 0;%>
	
	<% Object.keys(items).forEach(function (key) { %>
		<% var value = items[key];  %>
		<button type="button" id="button<%= i %>" class="btn btn-default" \ 
	    		value="<%= value%>" \
	    		onclick="RowHandler.setValue('<%= key%>', '<%= value%>', <%= addToExisting%>)">
	        <%= i+1 %>. <%= value %>
	    </button>
	    <% if (i%numberInRow === 0 && i != 0) {%>
			<br>
		<%}%>
		<% ++i;%>
	    
	<% }) %>

	
</div>
